/* INFORMATIONS




*/

/* INTRO SECTION*/
.intro-section {
  margin: 6.4rem auto;
  max-width: 96rem;
  grid-template-rows: 1fr 7.2rem !important;
}
.hi-text-en {
  grid-row: 1/2;
  align-self: end;
}
.hi-text-kr {
  grid-row: 2/3;
  align-self: start;
}
.intro-person-img {
  height: 38.4rem;
  width: auto;
  border-radius: 10%;
  grid-row: 1/3;
  justify-self: flex-end;
}
.main-text {
  margin-bottom: 3.6rem;
  grid-template-columns: 4fr 1fr !important;
}
/* -----Intro Section Footer------  */
.main-footer {
  justify-items: center;
  align-content: center;
  margin-top: 2.4rem;
  grid-template-columns: 1fr 2fr 1fr !important;
}
.main-footer-more {
  align-self: center;
}
.main-footer-who {
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.main-footer-who-text {
  text-align: center;
}
.main-footer-social {
  align-self: center;
}
