/* INFORMATIONS




*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* INTRO SECTION*/
.intro-img {
  height: 25.6rem;
  width: auto;
  border-radius: 20%;
  margin: auto;
  grid-row: 1/3;
  align-self: center;
}

.intro-section {
  margin: 9.6rem auto;
  margin-bottom: 6.4rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 60% 40% !important;
}
.intro-left {
  justify-content: center;
  align-items: center;
  row-gap: 0 !important;
}
.intro-right {
  text-align: center;
}
.intro-button {
  height: auto;
  width: 12.8rem;
  padding: 2.4rem auto;
}
.intro-description {
  font-size: 1.8rem;
}
.intro-name {
  margin-bottom: 1.6rem;
}
